<ion-header>
  <ion-toolbar>
    <ion-title>
      Carrito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center" padding-top *ngIf="this.products.length === 0" >
    <h1>No cuentas con productos</h1>
    <h3>Agrega algún producto con el botón de carrito</h3>
  </ion-text>

  <ion-grid fixed *ngIf="this.products.length > 0" >
    <ion-row *ngFor="let product of products" align-items-center>
      <ion-col size="5" [routerLink]="['/product', product.id]">
        <img [src]="product.img | image:'product'" alt="">
      </ion-col>
      <ion-col size="5" [routerLink]="['/product', product.id]">
        <ion-label>{{product.title}}</ion-label>
        <ion-text>
          <p>{{product.price | currency:'MXN'}}</p>
        </ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-button color="danger" (click)="remove(product.id)"><ion-icon slot="icon-only" name="close-circle-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <ion-text class="ion-text-center">
      <p>Total: {{total | currency:'MXN'}}</p>
    </ion-text>
    <ion-button expand="full" fill="solid" routerLink="/payment">Pagar</ion-button>
  </ion-grid>
</ion-content>
